.page {
  position: relative;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  background-color: var(--card-color);
  color: var(--foreground);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--component-color);
}

.header {
  align-items: center;
  justify-content: center;
  
  gap: 0;
}

.job .job__company,
.header .header__position {
  color: var(--mini-text-color);
}

.header,
.container,
.content,
.content__children,
.skills,
.job,
.job__responsibilities,
.data_list,
.skills__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__children,
.skills__content,
.data_list,
.job__responsibilities {
  gap: 2.5px;
}

.content__skils {
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  min-width: 200px;
  max-width: 250px;
}

.content__job {
  gap: 10px;
}

.data_list .data_list__item {
  display: block;
  width: max-content;
  position: relative;
  padding: 0 0 0 10px;
}

.data_list .data_list__item::before {
  content: "▪";
  position: absolute;
  left: 0;
}

@media (max-width: 768px) {
  .resumeContainer {
    padding: 1rem;
  }
  
  .resumeHeader h1 {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .resumeSection {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 80%;
    padding: 0.1em 0.2em;
  }
}