.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 0.25em;
  padding: 0.25em 0;

  max-width: 300px;
}

.category_name {
  cursor: pointer;
  background-color: var(--card-color);
  background-image: url("/images/card-texture.svg");
  background-blend-mode: overlay;
  background-size: 200px 200px;
  background-repeat: repeat;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

.modal__chevrons {
  display: flex;
  position: absolute;

  top: 0;

  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.modal__chevron {
  cursor: pointer;
}

.modal__photo_image {
  position: relative;

  width: 100%;
  height: auto;
  max-height: 600px;

  border-radius: 1em;
  object-fit: cover;
}

.modal__photo_camera {
  position: absolute;

  top: 0;
  left: 0;

  font-size: 16px;

  background-color: var(--card-color);
  opacity: 0.25;

  border: 0;

  background-image: url("/images/card-texture.svg");
  background-blend-mode: overlay;
  background-size: 220px 220px;
  background-repeat: repeat;

  transition: 1s;

  -webkit-box-shadow: 2px 2px 10px 10px var(--card-color);
  -moz-box-shadow: 2px 2px 10px 10px var(--card-color);
  box-shadow: 2px 2px 10px 10px var(--card-color);

  border-radius: 0.5em;
  padding: 0.25em 0.5em;

  z-index: 1;
}

.modal__photo_camera:hover {
  -webkit-box-shadow: 0px 0px 10px 5px var(--card-color);
  -moz-box-shadow: 0px 0px 10px 5px var(--card-color);
  box-shadow: 0px 0px 10px 5px var(--card-color);

  opacity: 1;
}

.modal___photo_info {
  padding: 0.5em;
}

.modal___photo_info h2 {
  text-overflow: ellipsis;
  color: var(--text-color);
}

.modal___photo_info p {
  color: var(--foreground);
  font-size: 16px;
}

@media (max-height: 780px) {
  .modal__photo {
    height: 100%;
    padding: 0.25em 0 0.5em 0;
    overflow-y: auto;
  }

  .modal__photo_image {
    max-height: 320px;
  }
}
