.info,
.info * {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.info,
.info h2 {
  gap: 4px;
  width: 100%;
  padding: 0 0 0.3em 0;
  height: max-content;
}

.info {
  flex-direction: column-reverse;
}

.text {
  text-shadow: -4px 3px 4px #252525;
}

.group, .links {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 10px;
}

.group_info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.links {
  flex-direction: column;
  gap: 2.5px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  max-height: 300px;
  overflow-y: auto;

  gap: 16px;
}

.group_data {
  display: flex;
  flex-direction: column;
  
  gap: 8px;
  padding: 12px 32px;
  border-radius: 12px;

  max-width: 320px;

  background-color: var(--card-color);
}

.group_info span,
.group_info a {
  font-size: 20px;
}

.group_data h3 {
  padding: 0 32px 0 0;
}

@media (max-height: 500px) {
  .page_center {
    display: grid;
    grid-auto-rows: auto auto auto;

    justify-content: none;
    align-items: normal;
  }

  .info h2,
  .group_info span {
    padding: 0.3em 0;
  }
}

@media (max-height: 800px) {
  .groups {
    max-height: 150px;
  }
  
  .info h2 {
    font-size: 18px;
  }

  .group_info span,
  .group_info a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .info h2 {
    display: block;
  }
}