.info,
.info * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info,
.info h2 {
  gap: 4px;
  text-align: center;
}

.info {
  flex-direction: column-reverse;
}

.group, .links {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 10px;
}

.links {
  flex-direction: column;
  gap: 2.5px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  max-height: 300px;
  overflow-y: auto;

  gap: 16px;
}

.group_data {
  display: flex;
  flex-direction: column;
  
  gap: 8px;
  padding: 12px 32px;
  border-radius: 12px;

  max-width: 320px;

  background-color: var(--card-color);
}

.group_info span,
.group_info a {
  font-size: 20px;
}

.group_data h3 {
  padding: 0 32px 0 0;
}

@media (max-height: 800px) {
  .info h2 {
    font-size: 18px;
  }

  .group_info span,
  .group_info a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .info h2 {
    display: block;
  }
}