.page_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 100%;
}

.short_info {
  position: absolute;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;

  gap: 1em;

  margin: 2.5em 3em;
}

.short_info img {
  border-radius: 1em;
}

.short_info__name {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: center;

  gap: 0.25em;
}

.main_info {
  width: 100%;
}

.info,
.info * {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.info,
.info h2 {
  gap: 4px;
  width: 100%;
  padding: 0 0 0.3em 0;
  height: max-content;
}

.info {
  flex-direction: column-reverse;
}

.text {
  text-shadow: -4px 3px 4px #252525;
}

.info__text__h2:hover {
  cursor: pointer;
}

.group,
.links {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 10px;
}

.group_info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.links {
  flex-direction: column;
  gap: 2.5px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 16px;
}

.group_data__box {
  display: flex;
  position: relative;
  clip-path: border-box;
}

.group_data {
  display: flex;
  flex-direction: column;

  gap: 8px;
  padding: 12px 32px;
  border-radius: 12px;

  max-width: 320px;

  background-color: var(--card-color);

  text-decoration: none;
}

.group_data__image {
  position: absolute;
  right: -3em;
  bottom: -2em;
  rotate: 10deg;
}

.group_info span,
.group_info a {
  font-size: 20px;
}

.group_data h3 {
  padding: 0 32px 0 0;
}

.fockusty {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-self: center;

  min-height: 100px;

  padding: 0.75em 1em;
  border-radius: 0.5em;

  width: 70%;

  background-color: var(--card-color);
}

@media (max-height: 500px) {
  .short_info {
    display: none;
  }

  .page_center {
    display: grid;
    grid-auto-rows: auto auto auto;

    justify-content: none;
    align-items: normal;
  }

  .info h2,
  .group_info span {
    padding: 0.3em 0;
  }
}

@media (max-height: 800px) {
  .info h2 {
    font-size: 18px;
  }

  .group_info span,
  .group_info a {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .short_info {
    display: none;
  }
}

@media (max-width: 768px) {
  .info h2 {
    display: block;
  }
}
