<main class="flex-1 flex flex-col gap-4 h-full w-full justify-center items-center">
  <div class="
    flex-1 bg-(--bg-component) max-w-200 my-12 w-full py-2 px-4 rounded-xl
    flex flex-col items-center gap-4"
  >
    <h2>Сделать заказ</h2>

    <div class="flex flex-wrap gap-4">
      @for (order of orders(); track order.name) {
        <div
          class="
            cursor-pointer
            bg-(--bg-card) py-1 px-2 rounded-lg
            flex flex-col items-center
            w-60 min-h-20"
          (click)="selectOrder(order)"
        >
          <h3 class="self-start">{{ order.name }}</h3>
          <span class="text-mini">{{ order.description }}</span>
          <span class="text-mini self-end">{{ order.payment }}</span>
        </div>
      }
    </div>
  </div>
</main>

@if (selectedOrder() && orderModalOpened()) {
  <order-modal
    [order]="selectedOrder()!"
    (close)="closeOrderModal()"
  />
}
