#projects {
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 90%;
  width: 100%;

  padding: 10px 20px;
  gap: 20px;

  overflow-y: auto;
  overflow-x: hidden;
}

#projects::-webkit-scrollbar {
  height: 1px;
}

#projects::-webkit-scrollbar-thumb {
  border: 1px solid var(--shadow-color);
}

.row_reverse {
  flex-direction: row-reverse;
}

.right {
  align-self: flex-end;
}

.left {
  align-self: flex-start;
}

.project {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 85px;

  gap: 10px;

  filter: brightness(0.3);
  transition: 0.75s;
}

.project img {
  z-index: 2;

  border-radius: 25%;

  height: 75px;
  width: 75px;
}

.project span {
  z-index: 2;
  width: 75px;

  text-align: center;
  text-wrap: pretty;

  top: 80px;
  transition: 0.5s;
}

#description {
  display: flex;

  align-self: flex-end;

  height: 90%;
  width: 100%;

  word-wrap: break-word;
  white-space: pre-wrap;

  text-overflow: clip;
  overflow: hidden;
  overflow-y: auto;

  * {
    line-height: 1.2;
  }
}

.project:hover > span {
  rotate: 0deg;
  font-size: 12px;
  top: -10px;
}

.project:hover {
  filter: brightness(1);
}

.project:has(+ .project:hover) {
  transform: rotate3d(0, 1, 0, 45deg);
  filter: brightness(0.5);
}

.project:hover + * {
  transform: rotate3d(0, 1, 0, -45deg);
  filter: brightness(0.5);
}

.project:hover + * + * {
  transform: rotate3d(0, 1, 0, -70deg);
  filter: brightness(0.5);
}

.project:has(+ * + .project:hover) {
  transform: rotate3d(0, 1, 0, 70deg);
  filter: brightness(0.5);
}

.project:has(+ .project:hover) {
  transform: rotate3d(0, 1, 0, 45deg);
  filter: brightness(0.5);
}

@media screen and (width < 1000px) {
  #projects {
    max-height: 90%;
    min-height: 50px;

    width: 100%;
    min-width: 250px;

    gap: 10px;
  }
}
